.side-nav {
  border-right: 2px solid #94a3b8;
  min-height: 100vh;
  padding: 2rem;
}

.logo {
  color: #d946ef;
  font-family: "Chakra Petch", sans-serif;
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.search-term-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.btn--search-term {
  background-color: #334155;
  color: #cbd5e1;
  width: 100%;
  position: relative;
  transition: all 0.25s ease-in-out;
}

.btn--search-term:hover,
.btn--search-term:active {
  background-color: #2563eb;
  color: #d3e6fe;
}

.btn--search-term:hover span {
  opacity: 1;
}

.btn--search-term span {
  color: #fae8ff;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
